<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857960187954-fvlpe4jvjibqs360jr8lf04fsangqi91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857960187954-fvlpe4jvjibqs360jr8lf04fsangqi91</string>
	<key>API_KEY</key>
	<string>AIzaSyAkWWzxI88mgtPw0_D7OEHUKMdXJsaZJE4</string>
	<key>GCM_SENDER_ID</key>
	<string>857960187954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.complete</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-ui-codelab-89add</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-ui-codelab-89add.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857960187954:ios:c981b81461dd360d95542b</string>
</dict>
</plist>